@keyframes moveRight {
    from { left: 0; }
    to { left: -72px; }
}

@keyframes moveLeft {
    from { left: 0; }
    to { left: 72px; }
}

@keyframes isNew {
  from { left: 70px; }
  to { left: 0; }
}

.threes {
  padding: 20px;
}

.board {
  font-family: 'Helvetica Neue';
  border-radius: 10px;
  background-color: #d0e6df;
  padding: 12px 16px;
  border-spacing: 10px 20px;
  margin: 0 auto;
  overflow: hidden;
}

  .tile {
    height: 80px;
    width: 60px;
    border-radius: 10px;
    background-color: #b6d9d9;
    box-shadow: 0 8px #b6d9d9;
  }

    .tile__face {
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 8px #fc6;
      display: block;
      text-align: center;
      height: 100%;
      width: 100%;
      position: relative;
      line-height: 80px;
      left: 0px;
      font-size: 24px;
      font-weight: bold;
    }

  .tile--empty .tile__face {
    display: none;
  }

  .tile--red .tile__face{
    background-color: #ff6680;
    box-shadow: 0 8px #ff002b;
    color: #fff;
  }

  .tile--blue .tile__face{
    background-color: #6cf;
    box-shadow: 0 8px #0af;
    color: #fff;
  }

  .tile--moving .tile__face {
    z-index: 2;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .tile--moving-left .tile__face {
    animation-name: moveRight;
  }

  .tile--moving-right .tile__face {
    animation-name: moveLeft;
  }

  .tile--new .tile__face {
    animation-name: isNew;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
