@keyframes moveRight {
    from { left: 0; }
    to { left: 72px; }
}

@keyframes moveLeft {
    from { left: 0; }
    to { left: -72px; }
}

@keyframes moveUp {
    from { top: 0; }
    to { top: -102px; }
}

@keyframes moveDown {
    from { top: 0; }
    to { top: 102px; }
}

@keyframes showLeft {
  from { left: 70px; }
  to { left: 0; }
}

@keyframes showRight {
  from { left: -70px; }
  to { left: 0; }
}

@keyframes showBottom {
  from { top: -102px; }
  to { top: 0; }
}

@keyframes showTop {
  from { top: 102px; }
  to { top: 0; }
}

.threes {
  padding: 20px;
  width: 330px;
  margin: 0 auto;
  color: #777E8C;
}

.board {
  font-family: 'Helvetica Neue';
  border-radius: 10px;
  background-color: #d0e6df;
  padding: 12px 16px;
  border-spacing: 10px 20px;
  overflow: hidden;
}

  .tile {
    height: 80px;
    width: 60px;
    border-radius: 10px;
    background-color: #b6d9d9;
    box-shadow: 0 8px #b6d9d9;
  }

    .tile__face {
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 8px #fc6;
      display: block;
      text-align: center;
      height: 100%;
      width: 100%;
      position: relative;
      line-height: 80px;
      left: 0px;
      font-size: 24px;
      font-weight: bold;
    }

  .tile--empty .tile__face {
    display: none;
  }

  .tile--red .tile__face{
    background-color: #ff6680;
    box-shadow: 0 8px #ff002b;
    color: #fff;
  }

  .tile--blue .tile__face{
    background-color: #6cf;
    box-shadow: 0 8px #0af;
    color: #fff;
  }

  .tile--moving .tile__face {
    z-index: 2;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .tile--moving-left .tile__face {
    animation-name: moveLeft;
  }

  .tile--moving-right .tile__face {
    animation-name: moveRight;
  }

  .tile--moving-up .tile__face {
    animation-name: moveUp;
  }

  .tile--moving-down .tile__face {
    animation-name: moveDown;
  }

  .tile--new .tile__face {
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .tile--new-left .tile__face {
    animation-name: showLeft;
  }

  .tile--new-right .tile__face {
    animation-name: showRight;
  }

  .tile--new-up .tile__face {
    animation-name: showTop;
  }

  .tile--new-down .tile__face {
    animation-name: showBottom;
  }

.reset-game {
  margin: 20px 0px;
  background: #d0e6df;
  box-shadow: 0 8px #b6d9d9;
  font-style: italic;
  text-align: center;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: 'Nunito',sans-serif;
  border: 0;
  font-size: 18px;
  color: #777E8C;
  cursor: pointer;
}

.next-tile-title {
  font-family: 'Nunito',sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
}
